:root {
    --width: 389px;
    --buttonHeight: 35px;
    --buttonWidth: 150px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html, body, #root, .App {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}

.App {
    display: grid;
    grid-auto-columns: auto auto;
    grid-gap: 10px;
    justify-items: center;
    align-items: center;
}

video {
    height: calc(var(--width) * 0.75);
    width: var(--width);
    background: rgb(0, 0, 0);
}

button {
    height: var(--buttonHeight);
    width: var(--buttonWidth);
    padding: 0 10px;
    text-align: center;
}

.localVideo {
    grid-row: 1;
    grid-column: 1;
}

.remoteVideo {
    grid-row: 1;
    grid-column: 2;
}

textarea {
    grid-column: 1/3;
    width: 100%;
    height: 100%;
}