* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html, body, #root, .App {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}

.video {
    height: 240px;
    width: 240px;
    background: rgb(0, 0, 0);
    margin-right: 10px;
}